.boutton {
    background-color: transparent;
    width: auto;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(.91rem, 5vw, 1.2vw);
    font-weight: 600;
}

.boutton:hover {
    background-color: #ffb623;
}

.active {
    background-color: #ffb623;
    color: black;
}