.detailEvenement {
    background-color: white;
    height: 100%;
    width: 40vw;
    color: black;
    text-shadow: 0 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theme {
    width: 100%;
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.contact {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: underline;
}

.adresse {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px 20px;
}

.description {
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px 20px;
    text-indent: 25px;
    text-align: justify;
    text-shadow: none;
}

.dateEvenement {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px 20px;
    font-family: var(--font-roboto);
}

.plusPhotos {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: none;
}

.plusPhotos a {
    color: #ffb623;
    text-decoration: underline;
}

@keyframes apparitionContenu {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

/* Je cherche a animer la partie description de l'evenement */
.theme,
.contact,
.description,
.adresse,
.dateEvenement,
.plusPhotos {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: apparitionContenu 0.5s 1s linear forwards;
}

/* jouer sur le delai d'apparition des contenus */
.theme {
    animation-delay: 1.2s;
    font-family: var(--font-reoboto);
}

.contact {
    animation-delay: 1.4s;
}

.adresse {
    animation-delay: 1.6s;
}

.description {
    animation-delay: 1.8s;
}

.dateEvenement {
    animation-delay: 2s;
}

.plusPhotos {
    animation-delay: 2.2s;
}

@media screen and (max-width:700px) {
    .detailEvenement {
        width: 100%;
        justify-content: center;
    }
}