.contenaire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img-contactez-nous.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: -75px;

}

.contactezNous {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 35rem;
    border-radius: 2rem;
    color: white;
}

.contactezNous h2 {
    font-weight: 900;
    padding: .7rem;
}

.contactezNous span {
    width: 90%;
    border: 1px solid hsla(40, 100%, 57%, 0.7);

}

.form {
    display: flex;
    flex-direction: column;
    padding: .5rem 0rem;
    width: 100%;
}

.form span {
    color: rgba(255, 0, 0, 0.8);
    border: 0;
}

.email,
.nom,
.objet,
.message {
    padding: 0px 1rem 1rem 1rem;
}

.email input,
.nom input,
.objet input,
.message input,
.message textarea {
    height: 1.6rem;
    width: 100%;
    border-radius: .3rem;
    border: none;
    border-bottom: 1px solid #ffffff8c;
    background: transparent;
    color: white;
}

.form h2 {
    font-size: 1rem;
    padding-bottom: .4rem;
}

.message textarea {
    height: 5rem;
    vertical-align: top;
    resize: none;
    padding: 10px 0px 0px 10px;
    font-size: 1rem;
    font-weight: 700;
}

.erreur {
    color: rgb(155 1 1);
    padding-top: .5rem;
    font-weight: 900;
}