.contenaire {
    overflow: hidden;
    height: 130vh;
    margin-bottom: -15%;
}

.image {
    position: relative;
    width: 100%;
    z-index: -2;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    .form {
        overflow: hidden;
        width: 100%;
    }
}